
//
// Credit Card
//

.c-credit-card {
  $color-white: #fff;
  $color-tuatara: #444;
  $color-shark: #2c2f32;
  $face-bg-gradient-start: #afb4bb;
  $face-bg-gradient-end: #767d85;

  perspective: 1000;
  display: inline-block;

  //
  // Elements
  // -------------------------

  &__card {
    position: relative;
    width: 336px;
    height: 196px;
    display: block;
    transition: transform .6s;
    transform-style: preserve-3d;
    color: $color-white;
    box-shadow: 0 5px 10px 0 rgba($color-shark, .15);

    &.is-backface {
      transform: rotateY(180deg);
    }
  }

  &__face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
    background-color: $face-bg-gradient-end;
    background-image: linear-gradient(135deg, $face-bg-gradient-start 0%, $face-bg-gradient-end 100%);

    &--front {
      z-index: 2;
      transform: rotateX(0deg);
    }

    &--back {
      z-index: 1;
      transform: rotateY(180deg);
    }
  }

  &__prop {
    position: absolute;
    font-weight: 500;
  }

  &__name {
    bottom: 30px;
    left: 30px;
    text-align: left;
    line-height: 1.2;
    max-width: 200px;
  }

  &__expire {
    bottom: 30px;
    right: 30px;
  }

  &__number {
    left: 30px;
    bottom: 70px;
    font-size: 18px;
  }

  &__ccv {
    left: 250px;
    top: 80px;
    line-height: 32px;
  }

  &__chip {
    display: block;
    width: 42px;
    height: 32px;
    background-color: rgba($color-white, .3);
    border-radius: 4px;
    top: 50px;
    left: 30px;
  }

  &__band {
    display: block;
    background-color: $color-tuatara;
    height: 40px;
    width: 100%;
    left: 0;
    top: 20px;
  }

  &__ccv-band {
    width: 230px;
    height: 32px;
    background-color: $color-white;
    display: block;
    left: 10px;
    top: 80px;
  }

  //
  // Modifiers
  // -------------------------

}
